@import 'vars';

.pythonimg {
    width: $pythonimgwidth;
}
.articleimg {
    width: $articleimgwidth;
    height: $articleimgheight;
}
.logoimg {
    width: $logo;
    height: $logo;
    background-image: url('logo.png');
    transition: transform 1s ease;
  
    &:hover {
      transform: rotate(360deg);
    }
  }
  .searchinput::placeholder{
    padding-left: 10px;
    }